
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>Welcome!脉到！</h1>
            <p>应用正在紧张开发中，更多功能将在近期推出，敬请期待！</p>
            <p><a class="btn btn-primary btn-lg" href="/roads/list" role="button">了解更多</a></p>
        </div>
    </div>
</div>
