
<!--<div class="row">-->
    <!--<div class="col-md-12">-->
        <!--<div class="jumbotron">-->
            <!--<h1>Welcome!脉到！</h1>-->
            <!--<p>应用正在紧张开发中，更多功能将在近期推出，敬请期待！</p>-->
            <!--<p><a class="btn btn-primary btn-lg" href="/roads/list" role="button">了解更多</a></p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<!--<div style="width: 1300px;height: 3900px; margin: 0 auto;background-image: url('/images/intro.jpg')" >-->

<!--</div>-->

<img src="/images/intro1.jpg" width="100%">
<div class="row">
<div class="col-md-12">
    <h3 class="text-center" style="color: #686868;font-family:'Microsoft YaHei UI';">在这里，人们会为你的脉点赞、评论、</h3>
    <h3 class="text-center" style="color: #686868;font-family:'Microsoft YaHei UI';">添加更多的点和有趣的见闻</h3>
    <h2 class="text-center">与<span style="font-size: 80px; color: #0088cc;font-family:'Microsoft YaHei UI';"><%=usercount%></span>人共享你眼中的<span style="color: orange;">世界</span> </h2>

</div>
</div>
<img src="/images/intro2.jpg" width="100%">

<div class="row">
    <div class="col-md-12">

        <a href="/help/edithelp" target="_blank">
        <div style="width: 530px;height: 158px; margin: 100px auto;background-image: url('/images/yindao.png')"></div>
        </a>


    </div>
</div>
