<h1 style="margin-bottom: 0px; text-align: center; background: white;">
    <span style="font-size: 25px;font-family: Helvetica, sans-serif;color: rgb(73, 73, 73)">免责声明</span>
</h1>
<h3 style="margin-top:20px;margin-right:0;margin-bottom:1px;margin-left: 4px;background:#F2FBF2">
    <span style="font-size: 14px;color: rgb(102, 102, 102);font-weight: normal">总则</span>
</h3>
<p style="line-height: 19px;background: white">
    <span style="font-size: 12px;font-family: Helvetica, sans-serif;color: rgb(17, 17, 17)">　　用户在接受脉到网服务之前，请务必仔细阅读本条款并同意本声明。<br/> <br/> 　　用户直接或通过各类方式（如站外API引用等）间接使用脉到网服务和数据的行为，都将被视作已无条件接受本声明所涉全部内容；若用户对本声明的任何条款有异议，请停止使用脉到网所提供的全部服务。</span>
</p>
<h3 style="margin-top:20px;margin-right:0;margin-bottom:1px;margin-left: 4px;background:#F2FBF2">
    <span style="font-size: 14px;color: rgb(102, 102, 102);font-weight: normal">第一条</span>
</h3>
<p>
    <span style="font-size:12px;font-family:&#39;Helvetica&#39;,sans-serif;color:#111111;background:white">　　用户以各种方式使用脉到网服务和数据（包括但不限于发表、宣传介绍、转载、浏览及利用脉到网或脉到网用户发布内容）的过程中，不得以任何方式利用脉到网直接或间接从事违反中国法律、以及社会公德的行为，且用户应当恪守下述承诺：<br/> <br/> 　　1. 发布、转载或提供的内容符合中国法律、社会公德；<br/> 　　2. 不得干扰、损害和侵犯脉到网的各种合法权利与利益；<br/> 　　3. 遵守脉到网以及与之相关的网络服务的协议、指导原则、管理细则等；<br/> <br/> 　　脉到网有权对违反上述承诺的内容予以删除。</span>
</p>
<h3 style="margin-top:20px;margin-right:0;margin-bottom:1px;margin-left: 4px;background:#F2FBF2">
    <span style="font-size: 14px;color: rgb(102, 102, 102);font-weight: normal">第二条</span>
</h3>
<p>
    <span style="font-size:12px;font-family:&#39;Helvetica&#39;,sans-serif;color:#111111;background:white">　　1. 脉到网仅为用户发布的内容提供存储空间，脉到网不对用户发表、转载的内容提供任何形式的保证：不保证内容满足您的要求，不保证脉到网的服务不会中断。因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致您不能正常使用脉到，脉到网不承担任何法律责任。<br/> <br/> 　　2. 用户在脉到网发表的内容（包含但不限于脉到网目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表脉到网的立场或观点。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。脉到网不承担任何法律及连带责任。<br/> <br/> 　　3. 用户在脉到网发布侵犯他人知识产权或其他合法权益的内容，脉到网有权予以删除，并保留移交司法机关处理的权利。<br/> <br/> 　　4. 个人或单位如认为脉到网上存在侵犯自身合法权益的内容，应准备好具有法律效应的证明材料，及时与脉到网取得联系，以便脉到网迅速做出处理。</span>
</p>
<h3 style="margin-top:20px;margin-right:0;margin-bottom:1px;margin-left: 4px;background:#F2FBF2">
    <span style="font-size: 14px;color: rgb(102, 102, 102);font-weight: normal">附则</span>
</h3>
<p>
    <span style="font-size:12px;font-family:&#39;Helvetica&#39;,sans-serif;color:#111111;background:white">　　对免责声明的解释、修改及更新权均属于脉到网所有。</span>
</p>
<p>
    &nbsp;&nbsp; <span style="font-family:宋体">联系我们请</span>Email: mapdao@outlook.com
</p>
<p>
    <br/>
</p>